<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wdp.mapper.ChatRecordMapper">

    <resultMap id="BaseResultMap" type="com.wdp.bean.ChatRecord">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="chat_type" property="chatType" jdbcType="VARCHAR"/>
        <result column="chat_time" property="chatTime" jdbcType="TIMESTAMP"/>
        <result column="member_name" property="memberName" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>